* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    background-color: blueviolet;
}

header {
    height: 90px;
    background-color: rgb(77, 56, 155);
    color: white;
    display: flex;
    align-items: center;

}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-content h2 {
    margin: 10px 0;
}

.main-content p {
    margin: 0 0 0 40px;
    text-align: justify;
}

footer {
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}